/projects/
/src/
/binaries/
/site/static/projects/
/site/content/projects/*.md
/site/public/
.hugo_build.lock
__pycache__/
*.pyc
.uv/
/pipeline.py
/target/
/docs/frontmarket/public/
/docs/frontmarket/.hugo_build.lock
